<div class="container">
  <h4 class="ml-4 pl-5">会員情報編集</h4>

  <%= form_with model:@customer,url:update_path(@customer),method: :patch do |f| %>
  <div class="row pl-5 pt-4">
    <div class="col-3 pl-1">
      <label for="customer_name">氏名</label>
    </div>
    <div class="col-9">
      <%= f.text_field :last_name %>
      <%= f.text_field :first_name %></br>      
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <label for="customer_name_kana">フリガナ</label>
    </div>
    <div class="col-9">
      <%= f.text_field :last_name_kana %>
      <%= f.text_field :first_name_kana %></br>     
    </div>      
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <label for="postal_code">郵便番号</label>
    </div>
    <div class="col-9">
      <%= f.text_field :postal_code %>      
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <label for="address">住所</label>
    </div>
    <div class="col-9">
      <%= f.text_field :address %>            
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <label for="customer_postal_code">電話番号</label>
    </div>
    <div class="col-9">
      <%= f.text_field :telephone_number %>        
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <label for="email">メールアドレス</label>
    </div>
    <div class="col-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>      
    </div>
  </dv>

<div class="container center_block" style="width:34rem;">
  <div class="row pt-3">
    <div class="col-5">
      <button class="btn btn-sm btn-success" type="submit">編集内容を保存</button>           
    </div>
    
    <div class="col-auto"> 
      <%= link_to confirm_path,method: :get do %>
        <button type="button" class="btn btn-sm btn-danger">退会する</button>
      <% end %> 
    </div>
  </div>  
</div>
  
<% end %>
</div>



  
