<div class="container">
  <h4 class="ml-4 pl-5">商品編集</h4>
  
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger pt-3"><%= pluralize(@item.errors.count,"件") %> 入力エラーがあります。</h5>
      <p class="text-danger">全ての項目を入力してください。</p>
    </div>
  <% end %>

  <%= form_with model:@item,url:admin_item_path,method: :patch do |f| %>
  <div class="row pl-5 pt-4">
    <div class="col-3 pl-1">
      <p>商品画像</p>
    </div>
    <div class="col-9 pl-0">
    　<%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <p>商品名</p>
    </div>
    <div class="col-9 pl-0">
    　<%= f.text_field :name %>
    </div>      
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <p>商品説明</p>
    </div>
    <div class="col-9 pl-0">
    　<%= f.text_area :introduction %>
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <p>ジャンル</p>
    </div>
    <div class="col-9 pl-0">
    　<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name),include_blank: "--選択してください--" %>
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <p>税抜価格</p>
    </div>
    <div class="col-9 pl-0">
    　<%= f.text_field :price %>円
    </div>
  </div>
  <div class="row pl-5 pt-2">
    <div class="col-3 pl-1">
      <p>販売ステータス</p>
    </div>
    <div class="col-9 pl-0">
    　<%= f.radio_button :is_active, 'true' %>
    　<%= f.label :is_active, '販売中', value: true %>
    
    　<%= f.radio_button :is_active, 'false' %>
    　<%= f.label :is_active, '販売停止中', value: false %></br>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-6 text-right">
      <button class="btn btn-success" type="submit">変更を保存</button>           
    </div>
  </div>  
  
  <% end %>
</div>
