<div class="container m-auto pt-3">
  <h4 class="ml-4 pl-5">商品詳細</h4>
  
  <div class="row">
    <div class="col-auto pt-4">
      <span><%= image_tag @item.get_image(200,200) %></span>
    </div>
    <div class="col-7 pt-4">
      <div class="row pb-3">
        <span class="col-3">商品名</span>
        <span class="col-5"><%= @item.name %></span></br>
      </div>
      
      <div class="row pb-3">
        <span class="col-3">商品説明</span>
        <div class="col d-flex align-items-center"><span class="col-auto pl-0 m-0 text-wrap"><%= @item.introduction %></span></div>
      </div>
      
      <div class="row pb-3">
        <span class="col-3">ジャンル</span>
        <span class="col-3"><%= @item.genre.name %></span>
      </div>
      
      <div class="row pb-3 d-flex align-items-center">
        <span class="col-3">
          税込価格</br>
        (税抜価格)
        </span>
        <span class="col-3"><%= (@item.price*1.1).floor.to_s(:delimited) %></ %> (<%= @item.price.to_s(:delimited) %>)円</span>
      </div>
      
      <div class="row pb-3 d-flex align-items-center">
        <span class="col-3">販売ステータス</span>
        <div class="col-3">
          <% if @item.is_active == true %>
            <strong class="text-success">販売中</strong>
          <% else %>
            <strong class="text-secondary">販売停止中</strong>
          <% end %>      
        </div>
      </div>

      <div class="pl-4">
        <%= link_to edit_admin_item_path(@item.id),method: :get do %>
          <button type="button" class="btn btn-success">編集する</button>
        <% end %>      
      </div>
    </div>  
  </div>
</div>
  